<html>
    <head>
        <title>PassPortJS Application</title>
    </head>
    <body>
        <h1>Hello PassportJS </h1>
        <form action="/logout?_method=delete" method="POST">
            <button type="submit"> Logout </button>    
        </form>
    </body>
</html>