<html>
    <head>
        <title>PassPortJS Application</title>
    </head>
    <body>
        <h1>Login page</h1>
        <form action="/login" method="POST">
            <label name = "email"> Email : </label>
            <input type="email" name="email" id="emailInput"> 

            <label name = "password"> Password : </label>
            <input type="password" name="password" id="passwordInput"> 

            <button type="submit"> Login </button>    
        </form>
        <p><a href="/register">Register ? </a></p>
    </body>
</html>